@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    font-family: "Montserrat";
}

body {
    background-color: #212121;
    font-size: 30px;
    font-family:"Montserrat";
    color:white;
    text-align: center;
    padding-top: 20vh;
}
a {
    font-size: 30px;
    color: #007bff;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
